{% extends "base.html.j2" %}

{% set title = 'Demo Display' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo_display.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var dd_config = {
            'metrics': [
                {% for metric_key, (metric_name, metric_param, inputs) in metric_inputs.items() %}
                    {% for input_name, input_config in inputs.items() %}
                        {
                            'key': '{{ metric_key }}',
                            'param': '{{ metric_param }}',
                            // 'input_name': '{{ metric_key }}_{{ input_name }}',
                            'input_name': '{{ input_name }}',
                            // 'form_name': '{{ metric_key }};{{ input_name }}',
                            'type': '{{ input_config.type }}',
                            'default': {{ input_config.default |tojson }},
                        },
                    {% endfor %}
                {% endfor %}
            ],
            'urls': {
                'base': '{{ url_for('display.render', _external=True) }}?',
                'params': '{{ url_for('display.demo_params', _external=True) }}',
            }
        };
    </script>
    <script src="{{ url_for('static', filename='js/demo_display.js') }}"></script>
{% endblock %}

{% macro input_group(key, label, size='sm', class_=None, wrapper=False) %}
    {% set id = 'dd_' ~ key %}
    {% set label_id = id ~ '_label' %}
    {% set props = 'class="' ~ (class_ or 'form-control') ~ '" id="' ~ id ~ '" aria-describedby="' ~ label_id ~ '"' %}
    <div class="input-group input-group-{{ size }}">
        <span class="input-group-addon" id="{{ label_id }}">
            <strong>{{ label }}</strong>
        </span>
        {% if wrapper %}<div class="input-wrapper">{% endif %}
        {{ caller(props) }}
        {% if wrapper %}</div>{% endif %}
    </div>
{% endmacro %}

{% block main_container %}
    <div id="demo_config" class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" id="dd_iframe_url" class="form-control disabled" disabled />
                    <span class="input-group-btn">
                        <button id="dd_iframe_url_copy" class="btn btn-primary" type="button">Copy</button>
                        <a id="dd_iframe_url_open" class="btn btn-success" href="#" target="_blank">Open</a>
                    </span>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-12 col-sm-6">
                        {% call(props) input_group('key', 'Key') %}
                            <input type="text" {{ props }} placeholder="Key">
                        {% endcall %}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {% call(props) input_group('playlist_screen', 'Playlist/Screen') %}
                            <select {{ props }}>
                                <option value="pl-0;s-0">[Playlist assigned to display]</option>
                                {% for pl in playlists %}
                                    <optgroup label="{{ pl.name }}">
                                        <option value="pl-{{ pl.id }};s-0">[Screens assigned to playlist]</option>
                                        {% for pls in pl.playlist_screens %}
                                            <option value="pl-{{ pl.id }};s-{{ pls.id }}">{{ pls.screen.title }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        {% endcall %}
                    </div>
                    <div class="col-xs-12">
                        <div class="well iframe-container">
                            <iframe id="dd_iframe"></iframe>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" id="dd_update">Update</button>
                                <button type="button" class="btn btn-secondary" id="dd_reset">Reset</button>
                            </div>
                            <label>
                                <input type="checkbox" id="dd_autoupdate">
                                Auto-Update
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% call(props) input_group('size', 'Size') %}
                            <select {{ props }}>
                                <option value="">Custom</option>
                                <option value="128x128">128x128</option>
                                <option value="160x128">160x128</option>
                                <option value="240x240">240x240</option>
                                <option value="320x240">320x240</option>
                                <option value="480x320">480x320</option>
                                <option value="480x480">480x480</option>
                                <option value="800x480">800x480</option>
                                <option value="800x600">800x600</option>
                            </select>
                        {% endcall %}
                    </div>
                    <div class="col-xs-3">
                        {% call(props) input_group('width', 'W') %}
                            <input type="text" {{ props }} placeholder="Width">
                        {% endcall %}
                    </div>
                    <div class="col-xs-3">
                        {% call(props) input_group('height', 'H') %}
                            <input type="text" {{ props }} placeholder="Height">
                        {% endcall %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        {% call(props) input_group('color_spec', 'Color Spec') %}
                            <select {{ props }}>
                                {% for cs in COLOR_SPEC.values() %}
                                    <option value="{{ cs.key }}">{{ cs.name }}</option>
                                {% endfor %}
                            </select>
                        {% endcall %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        {% call(props) input_group('display_spec', 'Display Spec') %}
                            <select {{ props }}>
                                {% for ds in DISPLAY_SPEC.values() %}
                                    <option value="{{ ds.key }}">{{ ds.name }}</option>
                                {% endfor %}
                            </select>
                        {% endcall %}
                    </div>
                    {% if config['ENABLE_DISPLAY_AUTH'] %}
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            {% call(props) input_group('sk_sel', 'Secret Key') %}
                                <select {{ props }}>
                                    <option value="">None/Custom</option>
                                    {% for s in secrets %}
                                        <option value="{{ s.key }}">{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                            {% endcall %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            {% call(props) input_group('sk', 'Custom Secret Key') %}
                                <input type="text" {{ props }} placeholder="Secret Key">
                            {% endcall %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Metrics</h2>

                <div class="row">
                    {% for metric_key, (metric_name, metric_param, inputs) in metric_inputs.items() %}
                        <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 metric-container" id="dd_metric_{{ metric_key }}_container">
                            <h4>
                                <label>
                                    <input type="checkbox" class="form-check-input" value="1" id="dd_metric_{{ metric_key }}_enabled" />
                                    {{ metric_name }}
                                </label>
                            </h4>
                            {% for input_name, input_config in inputs.items() %}
                                {% call(props) input_group(
                                    'metric_' ~ metric_key ~ '_' ~ input_name,
                                    input_config.label ~ (
                                        (' [Value: <span id="dd_metric_' ~ metric_key ~ '_' ~ input_name ~ '_value"></span>]')
                                        if input_config.type == 'range'
                                        else ''
                                    ),
                                    class_=(
                                        'form-check-input' if input_config.type == 'checkbox' else
                                        ('form-range' if input_config.type == 'range' else None)
                                    ),
                                    wrapper=True if input_config.type in ('range', 'checkbox') else False,
                                ) %}
                                    {% if input_config.type == 'checkbox' %}
                                        <label>
                                            <input type="checkbox" {{ props }} value="1" name="{{ metric_key }};{{ input_name }}" />
                                            {{ input_config.label }}
                                        </label>
                                    {% elif input_config.type == 'select' %}
                                        <select name="{{ metric_key }};{{ input_name }}" {{ props }}>
                                            {% for k, v in input_config.choices.items() %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                            <input
                                                {% if input_config.type == 'range' %}
                                                    type="range"
                                                {% else %}
                                                    type="{{ input_config.type }}"
                                                {% endif %}
                                                {% if input_config.min is defined %}min="{{ input_config.min }}"{% endif %}
                                                {% if input_config.max is defined %}max="{{ input_config.max }}"{% endif %}
                                                {% if input_config.step is defined %}step="{{ input_config.step }}"{% endif %}
                                                name="{{ metric_key }};{{ input_name }}"
                                                {{ props }}
                                            />
                                    {% endif %}
                                {% endcall %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Available Metrics</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL Param</th>
                            <th>Param Format</th>
                            <th>Provides</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mc in metric_classes %}
                            <tr>
                                <td>
                                    {{ mc.name }}
                                    {% if mc.description %}
                                        <br><small>{{ mc.description }}</small>
                                    {% endif %}
                                </td>
                                <td><code>{{ mc.param }}</code></td>
                                <td>{{ mc.format_description |e }}</td>
                                <td>
                                    <ul>
                                        {% for k, v in mc.provides.items() %}
                                            <li>
                                                <code>context.metrics.{{ mc.key }}{% if k is not none %}.{{ k }}{% endif %}</code>:
                                                {{ v }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
