{% extends "base.html.j2" %}

{% set title = 'Displays' %}

{% block main %}
    <div class="col-xs-12">
        {% for meta in displays %}
            {% if meta.displays %}
                {% if meta.title %}
                    <h3>{{ meta.title }}</h3>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                            <th>First Seen</th>
                            <th>Last Seen</th>
                            <th>Type</th>
                            <th>Colors</th>
                            <th>Dimensions</th>
                            {% if config['ENABLE_DISPLAY_APPROVAL'] %}
                                <th>Status</th>
                            {% endif %}
                            <th>Playlist</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in meta.displays %}
                            <tr>
                                <td>{{ d.key }}</td>
                                <td>{{ d.name }}</td>
                                <td>{{ d.created_at |dt |typed_label }}</td>
                                <td>{{ d.last_seen_at |dt |typed_label }}</td>
                                <td>{{ d.display_spec |display_spec }}</td>
                                <td>{{ d.color_spec |color_spec }}</td>
                                <td>{{ d.width }}x{{ d.height }}</td>
                                {% if config['ENABLE_DISPLAY_APPROVAL'] %}
                                    <td>
                                        {{ d.status |status_label }}
                                        {% if d.status == 'pending' %}
                                            - Code: <code>{{ d.approval_code }}</code>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td>{{ (d.playlist.name if d.playlist else None) |typed_label }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Display actions">
                                        <a class="btn btn-sm btn-primary" href="{{ url_for('display.edit', display_id=d.id) }}">Edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
