{% extends "base.html.j2" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('fruitstand_openweather.static', filename='css/openweather.css') }}" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>var graph_data = {{ graph_data |tojson }};</script>
    <script src="{{ url_for('fruitstand_openweather.static', filename='js/openweather.js') }}"></script>
{% endblock %}

{% block js_colors %}
    {{ super() }}
    {{ js_color('openweather graph temperature') }}
    {{ js_color('openweather graph humidity') }}
    {{ js_color('openweather graph precipitation') }}
{% endblock %}

{% block content %}
    <div id="weather">
        <div class="row-1">
            <div class="current">
                {{ get_conditions_image(forecast.current) |wi(extra_class='icon') }}
                <div class="details">
                    <div class="temp">
                        <span class="temp-number">{{ forecast.current.temp |fixed(d=0) }}</span>
                        <span class="temp-suffix">&deg;{{ screen.config.units |weather_suffix('temp') }}</span>
                    </div>
                    <div class="feelslike">
                        <span class="temp-prefix">Feels Like</span>
                        <span class="temp-number">{{ forecast.current.feels_like |fixed(d=0) }}</span><span class="temp-suffix">&deg;</span>
                    </div>
                </div>
            </div>

            <div class="loc-forecast">
                <div class="location">{{ forecast.timezone }}</div>
                <div class="date">{{ forecast.current.dt |dt(format='dddd, MMMM D', timezone=forecast.timezone, no_markup=True) }}</div>
                <div class="forecast">
                    {# first day in daily may be today @ 1pm, might change at that time #}
                    {% for day in forecast.daily[:5] %}
                        <div class="forecast-item">
                            <div class="day">{{ day.dt |dt(format='ddd', timezone=forecast.timezone, no_markup=True) }}</div>
                            {{ get_conditions_image(day) |wi(extra_class='icon') }}
                            <div class="details">
                                <span class="temp">{{ day.temp.max |fixed(d=0) }}&deg;</span>
                                |
                                <span class="temp">{{ day.temp.min |fixed(d=0) }}&deg;</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="stats">
                <div class="stats-item">
                    {{ wi('wi-sunrise', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Sunrise</span>
                        <span class="details">{{ forecast.current.sunrise |dt(format='h:mma', timezone=forecast.timezone, no_markup=True) }}</span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('wi-sunset', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Sunset</span>
                        <span class="details">{{ forecast.current.sunset |dt(format='h:mma', timezone=forecast.timezone, no_markup=True) }}</span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('wi-strong-wind', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Wind</span>
                        <span class="details">
                            <img src="{{ url_for('fruitstand_openweather.static', filename='images/wind_direction_meteorological_' ~ forecast.current.wind_deg ~ 'deg.svg') }}" class="icon" />
                            {{ forecast.current.wind_speed |fixed(d=0) }}
                            <span class="suffix">{{ screen.config.units |weather_suffix('speed') }}</span>
                        </span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('wi-humidity', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Humidity</span>
                        <span class="details">
                            {{ forecast.current.humidity |fixed(d=0) }}
                            <span class="suffix">%</span>
                        </span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('wi-day-sunny', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">UV Index</span>
                        <span class="details">
                            {{ forecast.current.uvi |fixed(d=1) }}
                            <span class="suffix">
                                (
                                    {%- if forecast.current.uvi >= 11 -%}
                                        Extreme
                                    {%- elif forecast.current.uvi >= 8 -%}
                                        Very High
                                    {%- elif forecast.current.uvi >= 6 -%}
                                        High
                                    {%- elif forecast.current.uvi >= 3 -%}
                                        Moderate
                                    {%- else -%}
                                        Low
                                    {%- endif -%}
                                )
                            </span>
                        </span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('wi-barometer', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Pressure</span>
                        <span class="details">{{ forecast.current.pressure |weather_convert(screen.config.units, 'pressure') }}</span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('air_filter', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Air Quality</span>
                        <span class="details">
                            {{ air_pollution.list.0.main.aqi |fixed(d=0) }}
                            <span class="suffix">
                                (
                                    {%- if air_pollution.list.0.main.aqi > 300 -%}
                                        Hazardous
                                    {%- elif air_pollution.list.0.main.aqi > 200 -%}
                                        Very Unhealthy
                                    {%- elif air_pollution.list.0.main.aqi > 150 -%}
                                        Unhealthy
                                    {%- elif air_pollution.list.0.main.aqi > 100 -%}
                                        Sensitive Unhealthy
                                    {%- elif air_pollution.list.0.main.aqi > 50 -%}
                                        Moderate
                                    {%- else -%}
                                        Good
                                    {%- endif -%}
                                )
                            </span>
                        </span>
                    </div>
                </div>
                <div class="stats-item">
                    {{ wi('visibility_icon', extra_class='icon') }}
                    <div class="stats-data">
                        <span class="title">Visibility</span>
                        <span class="details">
                            {{ forecast.current.visibility |weather_convert(screen.config.units, 'distance') }}
                        </span>
                    </div>
                </div>
                {% if context.metrics.internal_temp is defined %}
                    <div class="stats-item">
                        {{ wi('house_thermometer', extra_class='icon') }}
                        <div class="stats-data">
                            <span class="title">Temperature</span>
                            <span class="details">{{ context.metrics.internal_temp.temp |weather_convert(screen.config.units, 'temp', from_units=context.metrics.internal_temp.units) }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if context.metrics.internal_humidity is defined %}
                    <div class="stats-item">
                        {{ wi('house_humidity', extra_class='icon') }}
                        <div class="stats-data">
                            <span class="title">Humidity</span>
                            <span class="details">
                                {{ (context.metrics.internal_humidity * 100.0) |fixed(d=0) }}
                                <span class="suffix">%</span>
                            </span>
                        </div>
                    </div>
                {% endif %}
                {% if context.metrics.internal_pressure is defined %}
                    <div class="stats-item">
                        {{ wi('house_pressure', extra_class='icon') }}
                        <div class="stats-data">
                            <span class="title">Pressure</span>
                            <span class="details">{{ context.metrics.internal_pressure.pressure |weather_convert(screen.config.units, 'pressure', from_units=context.metrics.internal_pressure.units) }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="graph">
                <canvas id="graph-data"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
