[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"
alembic = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
flask-migrate = "*"
arrow = "*"
sqlalchemy-utils = "*"
wtforms-sqlalchemy = "*"
requests = "*"

[dev-packages]
pudb = "*"

[requires]
python_version = "3.13"
