$c-1b-black: #000000;
$c-1b-white: #ffffff;

$c-3b-black: #000000;
$c-3b-white: #ffffff;
$c-3b-red: #ff0000;
$c-3b-green: #00ff00;
$c-3b-blue: #0000ff;
$c-3b-cyan: #00ffff;
$c-3b-yellow: #ffff00;
$c-3b-magenta: #ff00ff;

$c-3b7-black: #000000;
$c-3b7-white: #ffffff;
$c-3b7-green: #00ff00;
$c-3b7-blue: #0000ff;
$c-3b7-red: #ff0000;
$c-3b7-yellow: #ffff00;
$c-3b7-dkyellow: #ffa500;
