@use "breakpoints" as *;


.d-t-block,
.d-xs-block,
.d-s-block,
.d-m-block,
.d-l-block,
.d-xl-block,
.d-t-inline,
.d-xs-inline,
.d-s-inline,
.d-m-inline,
.d-l-inline,
.d-xl-inline,
.d-t-inline-block,
.d-xs-inline-block,
.d-s-inline-block,
.d-m-inline-block,
.d-l-inline-block,
.d-xl-inline-block { display: none; }

@include bp('t') {
    .d-t-none { display: none; }
    .d-t-block { display: block; }
    .d-t-inline { display: inline; }
    .d-t-inline-block { display: inline-block; }
}
@include bp('xs') {
    .d-xs-none { display: none; }
    .d-xs-block { display: block; }
    .d-xs-inline { display: inline; }
    .d-xs-inline-block { display: inline-block; }
}
@include bp('s') {
    .d-s-none { display: none; }
    .d-s-block { display: block; }
    .d-s-inline { display: inline; }
    .d-s-inline-block { display: inline-block; }
}
@include bp('m') {
    .d-m-none { display: none; }
    .d-m-block { display: block; }
    .d-m-inline { display: inline; }
    .d-m-inline-block { display: inline-block; }
}
@include bp('l') {
    .d-l-none { display: none; }
    .d-l-block { display: block; }
    .d-l-inline { display: inline; }
    .d-l-inline-block { display: inline-block; }
}
@include bp('xl') {
    .d-xl-none { display: none; }
    .d-xl-block { display: block; }
    .d-xl-inline { display: inline; }
    .d-xl-inline-block { display: inline-block; }
}