@use "breakpoints" as *;
@use "vars" as *;
@use "colors" as *;

#statusbar {
    height: $statusbar_height;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    border-top: 1px solid #000;

    .statusbar-item {
        height: 100%;

        img, svg {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: auto;
        }
    }
}

svg {
    // Default fill; suitable for B&W
    path {
        fill: black;
    }
}

.cs-3b, .cs-3b7 {
    svg {
        &.good {
            path {
                fill: $c-3b-green;
            }
        }
        &.ok {
            path {
                fill: $c-3b-yellow;
            }
        }
        &.bad {
            path {
                fill: $c-3b-red;
            }
        }
    }
}

.cs-16b, .cs-full {
    svg {
        &.good {
            path {
                fill: green;
            }
        }
        &.ok {
            path {
                fill: #f6dd38;
            }
        }
        &.bad {
            path {
                fill: red;
            }
        }
    }
}