@use "breakpoints" as *;
@use "vars" as *;

#statusbar {
    height: $statusbar_height;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    border-top: 1px solid #000;

    .statusbar-item {
        height: 100%;

        img {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
}