@use "breakpoints" as *;
@use "displayhelpers";
@use "statusbar";

html, body {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: liberation_sansregular, Tahoma, sans-serif;
    letter-spacing: 0.9px;
}

body:not(.ds-browser) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: none;
    font-smooth: never;

    text-rendering: geometricPrecision;

    shape-rendering: crispEdges;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    display: flex;
    flex-direction: column;

    #main {
        flex-grow: 1;
    }
}