{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set title = ("Edit User: " ~ user.username) if user else "Create User" %}

{% block main %}
    <div class="col-xs-12">
        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>
{% endblock %}
