{% extends "bootstrap/base.html" %}

{% macro nav_link(route, title, prefix=None, icon=None) %}
    <li class="{{ 'active' if request.url_rule.endpoint.startswith(prefix or route) else '' }}">
        <a href="{{ url_for(route) }}">
            {% if icon %}
                <i class="fa fa-{{ icon }}"></i>
            {% endif %}
            {{ title }}
        </a>
    </li>
{% endmacro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            margin-top: 60px;
        }
    </style>
{% endblock %}

{% block title %}{% if title is defined and title %}{{ title }} - {% endif %}Fruitstand{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-lemon"></i>
                    Fruitstand
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{ nav_link('screen.list', 'Screens', prefix='screen.', icon='images') }}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% set fc = '-fluid' if main_fluid is defined and main_fluid else '' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages or (title is defined and title) %}
            <div class="container{{ fc }}">
                <div class="row{{ fc }}">
                    <div class="col-xs-12">
                        {% if (title is defined and title) %}
                            <h1>{{ title }}</h1>
                        {% endif %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ 'warning' if category == 'message' else category }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container{{ fc }}">
        <div class="row{{ fc }}">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}
