{% extends "root.html.j2" %}

{% macro nav_link(route, title, prefix=None, prefix_not=None, icon=None, data='', dropdown=False) %}
    {% set is_active = request.url_rule.endpoint.startswith(prefix or route) %}
    {% if prefix_not %}{% set is_active = is_active and not request.url_rule.endpoint.startswith(prefix_not) %}{% endif %}
    {% if dropdown %}
        <li class="{{ 'active' if is_active else '' }} dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% if icon %}
                    <i class="fa fa-{{ icon }}"></i>
                {% endif %}
                {{ title }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ caller() }}
            </ul>
        </li>
    {% else %}
        <li class="{{ 'active' if is_active else '' }}">
            <a href="{{ url_for(route, **kwargs) }}" {{ data }}>
                {% if icon %}
                    <i class="fa fa-{{ icon }}"></i>
                {% endif %}
                {{ title }}
            </a>
        </li>
    {% endif %}
{% endmacro %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            margin-top: 60px;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-lemon"></i>
                    Fruitstand
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{ nav_link('screen.list', 'Screens', prefix='screen.', icon='images') }}
                    {{ nav_link('playlist.list', 'Playlists', prefix='playlist.', icon='forward') }}
                    {{ nav_link('display.list', 'Displays', prefix='display.', prefix_not='display.demo', icon='tablet-screen-button') }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ nav_link('display.demo', 'Demo Display', prefix='display.demo', icon='display') }}
                    {% if config['ENABLE_DISPLAY_AUTH'] and (not users_enabled() or (current_user.is_authenticated and current_user.is_admin)) %}
                        {{ nav_link('display.secret_list', 'Secret Keys', prefix='display.secret', icon='key') }}
                    {% endif %}
                    {% if users_enabled() %}
                        {% if current_user.is_authenticated %}
                            {% call nav_link(None, current_user.username, prefix='user.', icon='user', dropdown=True) %}
                                {% if current_user.is_admin %}
                                    {{ nav_link('user.list_users', 'Manage Users', prefix='user.list_users', icon='users') }}
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                {{ nav_link('user.edit', 'My Account', icon='user-pen', user_id=current_user.id) }}
                                {{ nav_link('user.logout', 'Log Out', icon='door-open', data='data-link-method="post"') }}
                            {% endcall %}
                        {% else %}
                            {{ nav_link('user.login', 'Log In', icon='user') }}
                        {% endif %}
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
