{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set title = ('Edit Secret: ' ~ secret.name) if secret else 'Create Secret' %}

{% block main %}
    <div class="col-xs-12">
        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>
{% endblock %}