{% extends "base.html.j2" %}

{% set title = 'Display Secrets' %}

{% block main %}
    <div class="col-xs-12">
        <p>
            Secret keys are sent along with requests from displays to ensure that
            they are authorized to display content; screens that do not send a valid
            secret key are ignored.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Secret</th>
                    <th>Status</th>
                    <th>In Use By</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for s in secrets %}
                    <tr>
                        <td>{{ s.name }}</td>
                        <td><code data-reveal="{{ s.key }}"></code></td>
                        <td>{{ s.status |status_label }}</td>
                        <td>{{ s.displays |length |plural('Screen') }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Secret actions">
                                <a class="btn btn-sm btn-primary" href="{{ url_for('display.secret_edit', secret_id=s.id) }}">Edit</a>
                                <a class="btn btn-sm btn-danger" href="{{ url_for('display.secret_delete', secret_id=s.id) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ url_for('display.secret_edit') }}">Add Secret</a>
    </div>
{% endblock %}
